# Ignore microservices repos
microservices-api-gateway/
microservices-authentication-service/
microservices-user-service/
microservices-upload-service/
microservices-encode-service/
microservices-video-catalog-service/

# Ignore docker volumes data
docker/redis/data/*
!docker/redis/data/.gitkeep

docker/rabbitmq/data/*
!docker/rabbitmq/data/.gitkeep

docker/user-db/data/*
!docker/user-db/data/.gitkeep

docker/video-catalog-db/data/*
!docker/video-catalog-db/data/.gitkeep

docker/pgadmin/data/*
!docker/pgadmin/data/.gitkeep
